/*.about {
	background-image: url('images/bw2.jpg')
}*/
a {
	font-family: 'Gruppo', cursive;
	color: black!important;
	font-size: 20px!important;
}

.brand-logo {
	font-family: 'Lobster', sans-serif;
	font-size: 50px!important;
	padding-left: 2%!important;
}

.contact {
	color: white;
}
.contactH {
	padding-top: 7%;
	color: white;
}
.contact-logo {
	margin: 0 50px 0 0;
}

.enter-project {
	width: 300px!important;
	height: 150px!important;
	padding-top: 50px;
}

.fade {
  opacity: 1;
}

/*Fix is to fix that fact that when the logo was next to the word, they were mis-aligned*/
.fix {
	display: flex;
	align-items: center;
	padding-left: 18%!important;
}
.fix p {
	padding-left: 10px;
}

.font {
	font-family: 'Gruppo', cursive!important;
}

.footer {
	font-family: 'Gruppo', cursive;
	color: white;
}

footer {
	height: 300px;
	background-color: black;
	margin-top: 17%;
}

.form-btn {
	margin-top: 50px;
	border: 4px solid black!important;
	background-color: transparent!important;
	color: black;
	font-family: 'Gruppo', cursive;
}

.git-logo {
	height: 47px;
	width: 50px;
}

html {
	scroll-behavior: smooth;
}

.info-font {
	font-size: 20px;
}

.modal { 
	width: 75% !important; 
	max-height: 90% !important;  
} 

.name {
	background-image: url('images/titleimg.jpg');
	height: 500px;
	width: 100%;
	overflow: auto;
	box-shadow: 0 8px 6px -6px black;
	margin-bottom: 150px;
}

#namePlate {
	font-family: 'Six Caps', sans-serif;
	font-size: 340px;
	color: white;
	border: 20px solid white;
	/*padding-top: 21%;*/
	font-weight: 1000;
	text-shadow: 1px 1px 10px #000000;
}

.lobster {
	font-family: 'Lobster', cursive!important;
	text-transform: none!important;
	/*padding-top: 12%;*/
	font-size: 40px!important;
}

nav {
	background-color: white!important;
}

.proj1 {
	/*background-color: rgba(70, 70, 70, .3);*/
	width: 102vw;
	height: 650px;
}

.project-btn {
	border: 4px solid black;
	padding: 10px 20px;
}

.project-images {
	height: 275px;
	width: 275px;
	box-shadow: 0 8px 6px -6px black;
	/*margin-left: 25px;*/
}

.skillLogo {
	height: 40px;
	width: 40px;
}

.skillP {
	display: inline-block;
}

.textarea {
	height: 100px;
	width: 50vw;
}

.vlDemi {
    border-left: 1px solid black;
    height: 100px;
    margin-left: 50%;
}

.vl {
    border-left: 1px solid black;
    height: 300px;
    margin-left: 50%;
}

.vlTest {
	border-left: 10px solid black;
	height: 1000px;
	margin-left: 10%;
}































/*stuff that is not being used at the moment*/

/*RESPONSIVE*/

/*@media (max-width: 600px) {
  .flex-s {
    display: flex!important;
    flex-direction: column!important; 
  }
  .box-a {
    order: 2!important; 
  }
}*/

/*.slide-in-left {
	animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}*/
/* ----------------------------------------------
 * Generated by Animista on 2018-7-1 12:19:12
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}





